/* Profile section styles */
.nav-profile {
  text-align: center;
  margin: 20px 0;
  padding: 10px 0;

}

.nav-profile-image img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.nav-profile .login-status {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #28a745; /* Green for online */
  border-radius: 50%;
  margin-top: -10px;
  position: relative;
  top: 45px;
  left: 15px;
}

.nav-profile-text {
  color: white;
  margin-top: 10px;
}

.nav-profile-text .font-weight-bold {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

