.col-12.grid-margin.stretch-card {
  padding-top: 50px;
}
.form-group {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #0b2e13;
  border-color: #0b2e13;
}

.btn-primary:hover {
  background-color: #093b09;
  border-color: #093b09;
}

.text-danger {
  color: red;
  margin-top: 10px;
}
