<div class="container-scroller">
  <app-horizontal-menu-agent-rh></app-horizontal-menu-agent-rh>
  <div class="container-fluid page-body-wrapper">
    <app-vertical-menu-agent-rh></app-vertical-menu-agent-rh>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Modifier Mot de Passe</h4>
              <p class="card-description">Mettez à jour votre mot de passe.</p>
              <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">

                <!-- Current Password Input -->
                <div class="form-group">
                  <label for="currentPassword">Mot de passe actuel</label>
                  <input type="password" id="currentPassword" class="form-control" required [(ngModel)]="user.currentPassword" name="currentPassword" placeholder="Entrez votre mot de passe actuel">
                </div>

                <!-- New Password Input -->
                <div class="form-group">
                  <label for="newPassword">Nouveau mot de passe</label>
                  <input type="password" id="newPassword" class="form-control" required [(ngModel)]="user.newPassword" name="newPassword" placeholder="Entrez votre nouveau mot de passe">
                </div>

                <!-- Confirm New Password Input -->
                <div class="form-group">
                  <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
                  <input type="password" id="confirmPassword" class="form-control" required [(ngModel)]="user.confirmPassword" name="confirmPassword" placeholder="Confirmez votre nouveau mot de passe">
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid || user.newPassword !== user.confirmPassword">
                  Sauvegarder
                </button>

                <!-- Error Message if passwords don't match -->
                <div *ngIf="user.newPassword !== user.confirmPassword && user.newPassword && user.confirmPassword" class="text-danger">
                  Les mots de passe ne correspondent pas !
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
